<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer</title>
    {% load static %}
    <!-----------link_Bootstrap----------------->
    <link rel="stylesheet" href="{% static 'bootstrap_packages/css/bootstrap.min.css' %}">
    <!------------Javascipt------------------------>
    <script src="{% static 'bootstrap_packages/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap_packages/js/bootstrap.bundle.min.js' %}"></script>
    <!-----------link_css----------------------->
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">

    <style>
        body{
            background-color: #F4F5F8;
        }
    </style>
</head>
<body>
<!---Navbar---->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand text-light" style="padding-left: 10px;">Constructmate</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/customer_home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/customer_about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="customer_to_manager"  class="nav-link" type="button">Send message</a>
                </li>
                <li class="nav-item">
                    <a href="/customer_message"  class="nav-link" >Messages</a>
                </li>
                <li class="nav-item"></li>
                <a href="/customer_interface" class="nav-link active">My Account</a>
                </li>
                <li class="nav-item" style="padding-right: 50px;" >
                    <a href="/logout_customer" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<!---Navbar_End----->

<!---Customer_interface---->
<div class="container-fluid" style="margin-top: 120px;">
<div class="row">
    <div class="col text-center">
        <span id="kick">"Kickstart your project with precision, Enter your project details and let us turn your vision into reality!"</span> <br>
        <div class="text-center mt-3 mb-5">
            <a href="/project_form" class="btn btn-primary mt-4" role="button" >Start Project</a>
        </div>
        <hr>
    </div> 
</div>

<div class="row">
    <div class="offset-md-2 col-md-6 ">
        <span id="yp">My Rrojects:</span>
    </div>
</div>
<div class="row">
    <div class="col text-center mt-5">
        <a href="/view_my_projects" class="btn btn-danger" role="button" >My Projects</a>  
    </div>
</div>


</div>
<!----Customeer_interface_End-->
</body>
</html>