<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review_manager's_report</title>
    {% load static %}
    <!-----------link_Bootstrap----------------->
    <link rel="stylesheet" href="{% static 'bootstrap_packages/css/bootstrap.min.css' %}">
    <!------------Javascipt------------------------>
    <script src="{% static 'bootstrap_packages/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap_packages/js/bootstrap.bundle.min.js' %}"></script>
    <!-----------link_css----------------------->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container " style="margin-top: 80px;">
    <div class="text-center mb-5">
        <h3 style="font-size: 20px; font-family: 'Times New Roman', Times, serif; text-decoration: underline;">Materials Evaluation Request for Quality Check</h3>
    </div>
    <div class="row mt-4">
        <div class="col">
        {% if projects %}
            <table class="table table-bordered table-responsive text-center border-dark">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Supply_id</th>
                        <th>Manager</th>
                        <th>Vendor</th>
                        <th>Materials Report</th>
                        <th>Action</th>
                    </tr>
                </thead>
                               

                <tbody>
                    {% for project in  projects %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ project.supply_id }}</td>
                        <td>{{ project.Project_manager}}</td>
                        <td>{{project.vendor}}</td>
                        <td><a href="{{project.materials_report.url}}">{{project.materials_report}}</a></td>
                        <td><a href="/evaluate_materials_page/{{project.id}}" class="btn btn-success">Evaluate</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="text-center">
                <h3>No Projects....!</h3>
            </div>
        {% endif %}
        </div>
    </div>
</div>
</body>
</html>